<div class="shadow rounded-full flex flex-wrap gap-2 px-2 py-2 bg-base-200">
    <c-components.ui.tab_button text="Overview" curr_path="account_overview" url="{% url 'account_overview' %}"/>
    <c-components.ui.tab_button text="Edit Account" curr_path="edit_account" url="{% url 'edit_account' %}"/>
    <c-components.ui.tab_button text="My Data" curr_path="account_data_management" url="{% url 'account_data_management' %}"/>
    <c-components.ui.tab_button text="Delete Account" curr_path="delete_account" url="{% url 'delete_account' %}"/>
</div>
