<div class="card bg-base-100 shadow-md rounded-2xl overflow-hidden w-full max-w-sm">

    <!-- Image -->
    <figure class="relative">
        <img src="{{ listing.image.url }}" alt="Product" class="w-full h-48 object-cover">

        <!-- Badge -->
        {% if listing.is_open %}
            <span class="badge badge-success absolute top-3 right-3">
                Open
            </span>
        {% else %}
            <span class="badge badge-danger absolute top-3 right-3">
                Closed
            </span>
        {% endif %}
    </figure>

    <!-- Content -->
    <div class="card-body space-y-2">

        <!-- Category -->
        <span class="badge badge-primary w-fit">{{ listing.category.name|default:'No Category' }}</span>

        <!-- Title -->
        <h2 class="card-title text-lg font-semibold">
            {{ listing.title }}
        </h2>

        <!-- Description -->
        <div class="prose max-w-prose break-words">
            {{ listing.description|safe|truncatechars:100 }}
        </div>

        <!-- Price -->
        {% if listing.is_free %}
            <p class="text-green-600 text-xl font-semibold">
                Free
            </p>
        {% else %}
            <p class="text-green-600 text-xl font-semibold">
                Rs {{ listing.price }}
            </p>
        {% endif %}

        <!-- Actions -->
        <div class="flex gap-3 mt-3">

            <button
                class="btn btn-outline flex-1"
                hx-get="{% url 'edit_listing' listing.id %}"
                hx-target="#body"
                hx-push-url="true"
            >
                <c-icons.square_pen></c-icons.square_pen>
                Edit
            </button>

            <a
                href="{% url 'user_listing_details' listing.id %}"
                class="btn btn-outline btn-secondary flex-1"
            >
                Details
            </a>

        </div>

    </div>
</div>
