{% extends "cotton/components/layout/base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/quill.snow.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Listings</title>
{% endblock %} 

{% block content %}
    <c-partials.listings_page_partial></c-partials.listings_page_partial>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/quill.js' %}"></script>
    <script src="{% static 'js/init_quill.js' %}"></script>
{% endblock %}