{% if listings %}
    <!-- GRID -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        {% for listing in listings %}
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
            <c-components.listing_card></c-components.listing_card>
        {% endfor %}
    </div>
{% else %}
    <div class="w-full text-center py-5">
        <p class="text-2xl font-bold">No listing found</p>
    </div>
{% endif %}

<!-- PAGINATION -->
<c-components.pagination hx_target="#listing-container" hx-on::htmx:afterSwap="window.scrollTo({ top: 0, behavior: 'smooth' })">
</c-components.pagination>
