<c-components.layout.header></c-components.layout.header>
<div class="w-full px-6 py-8">
    <div class="max-w-[1600px] mx-auto flex flex-col lg:flex-row gap-10">
        <!-- SIDEBAR -->
        <aside class="lg:w-1/5 w-full">
            <form
                    hx-get="{% url 'listings' %}"
                    hx-target="#listing-container"
                    hx-push-url="true"
                    hx-trigger="change delay:300ms, submit"
                    class="bg-base-100 border border-base-300 rounded-xl p-5 sticky top-6"
            >
                <h2 class="text-lg font-semibold mb-5">Filters</h2>

                <!-- Date filter -->
                <div class="mb-6">
                    <label for="date_filter" class="text-sm font-medium mb-2 block">Date posted</label>
                    <select id="date_filter" class="select select-bordered w-full" name="date_filter">
                        <option value="all" {% if date_filter == 'all' %} selected {% endif %}>All time</option>
                        {% for filter in date_filters %}
                            <option
                                    value="{{ filter.num_days }}"
                                    {% if date_filter == filter.num_days|stringformat:"s" %}selected{% endif %}
                            >
                                {{ filter.label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Category filter -->
                <div class="mb-6">
                    <label for="category_filter" class="text-sm font-medium mb-2 block">Category</label>
                    <select id="category_filter" class="select select-bordered w-full" name="category">
                        <option value="all" {% if category_slug == 'all' %}selected{% endif %}>
                            All categories
                        </option>
                        {% for category in categories %}
                            <option value="{{ category.slug }}"
                                    {% if category_slug == category.slug %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- District filter -->
                <div class="mb-6">
                    <label for="district_filter" class="text-sm font-medium mb-2 block">District</label>
                    <select id="district_filter" class="select select-bordered w-full" name="district">
                        <option value="all" {% if district_slug == 'all' %}selected{% endif %}>All districts</option>
                        {% for district in districts %}
                            <option value="{{ district.slug }}"
                                    {% if district_slug == district.slug %}selected{% endif %}>{{ district.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Free filter -->
                <div class="flex items-center gap-2 mb-6">
                    <label>
                        <input
                            type="checkbox"
                            class="checkbox checkbox-sm"
                            name="free_only"
                            {% if free_only %} checked {% endif %}
                        >
                    </label>
                    <span class="text-sm">Free listings only</span>
                </div>

                <div class="space-y-3">
                    <a
                        hx-get="{% url 'listings' %}"
                        hx-target="#body"
                        type="button" class="btn btn-tertiary btn-sm w-full"
                    >
                        Reset filter
                    </a>
                </div>
            </form>
        </aside>
        <!-- LISTINGS -->
        <main class="lg:w-4/5 w-full" id="listing-container">

            <c-partials.listings_container_partial></c-partials.listings_container_partial>
        </main>

    </div>
</div>
